@{
    ViewData["Title"] = "Etkinlik Ekle";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">Etkinlik Takip</a>
        <div>
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3">
                    <a class="nav-link active" href="/Home/index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Login">Admin Giriş</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2 class="text-center">Yeni Etkinlik Ekle</h2>

<form method="post" action="/Admin/EtkinlikEkle" enctype="multipart/form-data" class="w-50 mx-auto">
    <div class="mb-3">
        <label class="form-label">Etkinlik Adı</label>
        <input type="text" name="Ad" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Kategori</label>
        <input type="text" name="Kategori" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Konum</label>
        <input type="text" name="Konum" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Ücret</label>
        <input type="text" name="Ucret" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Tarih</label>
        <input type="date" name="Kontenjan" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Döküman Yükle</label>
        <input type="file" name="Dokuman" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
<div>
    <a asp-controller="Admin" asp-action="EtkinlikListe" class="btn btn-outline-info">→ Etkinlik Listesini Gör</a>
</div>